// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bgimage{
    padding: 0 !important;
    height:200px;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    display: block;
    opacity: 0.25;
    overflow: hidden;
    border-radius: 2%;
    filter: brightness(0.3);
	-webkit-filter: brightness(0.3);
	-moz-filter: brightness(0.3);
	-o-filter: brightness(0.3);
	-ms-filter: brightness(0.3);

}
.cgimage{
    padding: 0 !important;
    height:300px;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    display: block;
    opacity: 0.25;
    overflow: hidden;
    border-radius: 2%;
    filter: brightness(0.3);
	-webkit-filter: brightness(0.4);
	-moz-filter: brightness(0.3);
	-o-filter: brightness(0.3);
	-ms-filter: brightness(0.3);

}
.dgimage{
    padding: 0 !important;
    height:400px;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    display: block;
    opacity: 0.25;
    overflow: hidden;
    border-radius: 2%;
    filter: brightness(0.3);
	-webkit-filter: brightness(0.3);
	-moz-filter: brightness(0.3);
	-o-filter: brightness(0.3);
	-ms-filter: brightness(0.3);